body
{
    font-family: Segoe UI, Tahoma, Arial; 
    font-size: 8pt;
    background-color: #FFF;
    text-align: center;
}

img
{
    border: none;
}

ul
{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

li
{
    padding-left: 20px;
    display: inline;
}

#container
{
    width: 700px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

#header
{
    background: url('images/cbuzz.net.arrow.png') no-repeat top center;
    width: 700px;
    height: 116px;
}

#branding
{
    display: none;
}

#socialLinks
{
    text-align: right;
    position: relative;
    top: 40px;
    right: 30px;
}

#links
{
    margin-top: 30px;
    margin-bottom: 30px;
}

#footer
{
    text-align: center;
    margin-top: 30px;
}